.svg-container{
	display: inline-block;
	position : relative;
	width:100%;
	padding-bottom:100%;
	vertical-align:top;
	overflow:hidden;
}

.svg-content{
	display:inline-block;
	top:0;
	left:0;
}

.custom-pd{
	padding-left:7px;
	padding-right:7px
}