<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<title>Alarm Flood Analysis</title>
<link href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"
	rel="stylesheet" />
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- Numeric JS -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/numeric/1.2.6/numeric.min.js"></script>
</head>
<script th:inline="javascript">
	/*<![CDATA[*/

	var _validFileExtensions = [ ".csv", ".zip" ];
	function Validate(oForm) {
		var arrInputs = oForm.getElementsByTagName("input");
		for (var i = 0; i < arrInputs.length; i++) {
			var oInput = arrInputs[i];
			if (oInput.type == "file") {
				var sFileName = oInput.value;
				if (sFileName.length == 0) {

					alert("Please select a file to upload");
					return false;
				}
				if (sFileName.length > 0) {
					var blnValid = false;
					for (var j = 0; j < _validFileExtensions.length; j++) {
						var sCurExtension = _validFileExtensions[j];
						if (sFileName.substr(
								sFileName.length - sCurExtension.length,
								sCurExtension.length).toLowerCase() == sCurExtension
								.toLowerCase()) {
							blnValid = true;
							break;
						}
					}

					if (!blnValid) {
						alert("Invalid File Extension");
						return false;
					}
				}
			}
		}

		return true;
	}

	function showMatrix() {

		document.getElementById('matrix').style.display = 'block';
	}
	/*]]>*/
</script>

<body>
	<div class="jumbotron text-center"
		style="padding-top: 4px; padding-bottom: 4px;">
		<h2>Alarm Flood Analysis</h2>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<B>Load Training Data</B>
			</div>
			<div class="col-sm-5">
				<form method="POST" action="/upload"
					onsubmit="return Validate(this);" enctype="multipart/form-data">
					<div class="col-sm-6">

						<input type="file" name="file" accept=".zip" />
					</div>
					<div class="col-sm-6">
						<input type="submit" class="btn btn-success btn-sm" value="Submit" />
					</div>
				</form>

			</div>
			<div class="col-sm-3">
				<B>Click Here To Train Data</B> <input type="submit"
					value="Train Data" class="btn btn-success btn-sm"
					onClick="showMatrix()" />
			</div>
		</div>
	</div>
	<hr/>


	<div th:if="${message}">
		Status Of Uploaded File
		<h6 th:text="${message}" />
		<hr/>
		<div class="row">
			<div class="col-sm-4">
				<!--  Left side panel -->
				<div id="myDiv"></div>
			</div>
			<div class="col-sm-8">
				<!--  Right side panel -->

				<div id="matrix" style="display: none;">
					<h3>Trained Data Result</h3>
					<br />
					<ul class="nav nav-tabs">
						<li class="active"><a aria-expended="true" data-toggle="tab"
							href="#sim">Similarity Matrix</a></li>
						<li><a data-toggle="tab" href="#cluster"
							aria-expended="false">Cluster Diagram</a></li>
					</ul>
					<div class="tab-content">
						<div id="sim" class="tab-pane fade">
							<p>Similarity Matrix</p>
						</div>
						<div id="cluster" class="tab-pane fade">
							<p>Cluster Matrix</p>
						</div>
					</div>
				</div>



			</div>
		</div>
			<script th:inline="javascript">
				/*<![CDATA[*/
				var tf = /*[[${trueflood}]]*/'default';
				var ff = /*[[${falseflood}]]*/'default';

				var data = [ {
					values : [ tf, ff ],
					labels : [ 'True Flood', 'False Flood' ],
					type : 'pie'
				} ];
				var layout = {
					title : 'Flood Status',
					showlegend : true
				};

				Plotly.newPlot('myDiv', data, layout, {
					displayModeBar : false
				});

				/*]]>*/
			</script>
	
	</div>
	<script src="webjars/jquery/1.9.1/jquery.min.js"></script>
	<script src="webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script
		src="webjars/bootstrap-datepicker/1.0.1/js/bootstrap-datepicker.js"></script>
</body>
</html>
