<html xmlns:th="http://thymeleaf.org">  
<head>
<title>Training Data Result</title>

<script type = "text/javascript" src = "https://d3js.org/d3.v4.min.js"></script>
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
  <script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
  </script>
   <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<h1>Trained Data Output</h1>

<h2>Similarity Matrix</h2>
  <div id="myDiv"><!-- Plotly chart will be drawn inside this DIV --></div>
  <script>
/*   var data = [
              {
                z: [[1, 20, 30, 50, 1], [20, 1, 60, 80, 30], [30, 60, 1, -10, 20]],
                x: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                y: ['Morning', 'Afternoon', 'Evening'],
                type: 'heatmap'
              }
            ];
  var layout = {
		    title: 'Similarity Matrix',
		    showlegend: true
		};

		Plotly.newPlot('myDiv', data, layout, {displayModeBar: false}); */
		
		
		  var data = [
		              {
		                z: [[100,70,50], [70, 100,35], [50, 35, 100]],
		                x: ['Flood 1', 'Flood 2', 'Flood 3'],
		                y: ['Flood 1', 'Flood 2', 'Flood 3'],
		                type: 'heatmap'
		              }
		            ];
		  var layout = {
				    title: 'Similarity Matrix',
				    showlegend: true
				};

				Plotly.newPlot('myDiv', data, layout, {displayModeBar: false});

      
  </script>
</body>

</html>